<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Penalty shootout!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/menu_styles.css') }}">
</head>
<body>
<h1>Penalty Shootout!</h1>
<section id="window">
    <!--se appendea el primer article cuando carga la pag 
    (los articles están en un array en el arrow_script.js)-->

</section>

<div id="arrow-left"><p>⬅</p></div>
<div id="arrow-right"><p>➡</p></div>
<script src="{{ url_for('static', filename='js/arrow_script.js') }}"></script>
</body>
</html>


