<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Penalty shootout!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/play_classic.css') }}">
</head>
<body>
<div id="loading-container">
    <img src="{{ url_for('static', filename='images/loading_ball.gif') }}" alt="Loading" class="loading-img">
    <span id="text" class="animated-text">Buscando rival</span>
</div>
<div id="find-container">
    
</div>
<script src="{{ url_for('static', filename='js/loading_screen.js') }}"></script>



